@import './Vars.styl'

button 
  padding: 10px 30px
  background: $color-theme
  display: inline-block
  font-weight: 400
  border: none
  color: $color-white
  cursor pointer
  border-radius: .25rem

button
  &:hover
    opacity: 0.8
   