.Card
  margin: 0px 0px
  background: white
  border-radius: 0.25rem
  .titleWrapper
    display: flex
    justify-content: space-between
    font-size: 1.4rem
    font-weight: bold
    padding: 15px 20px
    border-radius: 0.25rem 0.25rem 0rem 0rem
    border-bottom: 1px solid #e2e2e2
  .body
    padding: 20px