@import './Vars.styl'

.header
    display: flex
    justify-content: space-between
    align-items: center
    top: 0px
    padding: 10px 0px
    min-height: 75px
    width: 100%
    background: #FFF
    margin-bottom: 45px

.header__name
    margin-left: 30px
    font-family: $font-title-theme
    font-size: 1.5rem

.header__menu
    margin-right: 25px
    display: flex
    img
        width: 40px 
        height: 40px
    .header__menu__name
        display: flex
        padding: 5px 17px
        align-items: center