@import './Vars.styl'

body
    background: #ccc
    color: #000
    margin: 0
    font-family: $font-theme;

*
    box-sizing: border-box
h1
    font-size: 3rem

a
  color: $color-theme;
  text-decoration none
  &:hover
    opacity: .8

.text-center
  text-align center
  