@import 'Vars.styl'

table
  &.table
    width: 100%
    border: 1px solid black
  td, th
    padding: 10px 7px

.link-button
  color: $color-theme
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;

.link-button:hover,
.link-button:focus
  text-decoration: none;