@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@469&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$font-title-theme = 'Oswald', sans-serif
$font-theme = 'PT Sans', sans-serif
$color-theme = #356377
$color-white = #ffffff
$color-black = #000000